<div class="rental-unit-box">
  <div class="row">
    <div class="small-12 small-centered columns" id="rental-unit-title">
      <h2><%= @rental_unit.address %></h2>
    </div>
  </div>

  <div class="row">
    <ul class="small-block-grid-2">
      <li><p><%= @rental_unit.type_of_dwelling %></p>
          <p><%= "#{@rental_unit.number_of_bedrooms} bedrooms" %></p>
          <p><%= "Rent: $#{@rental_unit.monthly_rent} per month" %></p>
          <p><%= "Gas Company: #{@rental_unit.gas_utility.name}" %></p>
          <p><%= "Electric Company: #{@rental_unit.electric_utility.name}" %></p>
          <p><%= "Neighborhood: #{@rental_unit.neighborhood.name}" %></p>
      </li>
    <li><%= image_tag "http://placecreature.com/300/400" %></li>
  </div>

  <div class="row">
    <div class="small-6 small-centered columns">
      <ul class="button-group round">
        <li><%= link_to "Back to list of rental units", rental_units_path, class:"button" %></li>
        <% if @rental_unit.tenant == current_tenant %>
          <li><%= link_to "Add a bill for this unit", new_rental_unit_bill_path(@rental_unit), class:"button" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
